*.aux
*.log
.DS_Store
*.dvi
*eps-converted-to.pdf
*.synctex.gz
*~
*.toc
*.mexa64
*.mexmaci64
*.mexw64
*.vtk
*.pvsm
codegen/
Problems/test_log.txt
Problems/RB_AffineDevice/Figures/
Problems/RB_Cookies/Figures/
Problems/RB_EIM_Gaussian/EIM/
Problems/RB_EIM_Gaussian/Figures/
Problems/RB_EIM_Gaussian/FOM.mat
FEM_library/Tools/Fast/
Problems/RB_CSM_Turek2D/Snapshots/
Problems/RB_CSM_ShearCube/Snapshots/
Problems/RB_AcousticHorn_Affine/Figures/
dmumps.m
initmumps.m
zmumps.m
mumps_help.m
FEM_library/LinearSolver/Mumps/Libraries
FEM_library/LinearSolver/Mumps/Libraries
